<h1>Your vehicles</h1>

<p>If there is a check next to the vehicle name, it is scheduled to charge overnight to standard capacity (80%).</p>
<p>Please update the form if you would like to schedule or unschedule the charging of your vehicle.</p>

{% if vehicle_list %}
  <form action="{% url 'charger:index' %}" method="post">
  {% csrf_token %}
    {% for vehicle in vehicle_list %}
      <input type="checkbox" name="{{ vehicle.id }}" id="{{ vehicle.id }}" 
        {% if vehicle.id in vehicle_scheduled %} 
          checked="checked"
        {% endif %}
      /> {{ vehicle.display_name }} <br>
    {% endfor %}
      <input type="submit" value="Update"/>
  </form>

  <form action="{% url 'charger:savings' %}" method="get">
    <input type="submit" value="View my savings"/>
  </form>

  <form action="{% url 'charger:logout' %}" method="get">
    <input type="submit" value="Logout"/>
  </form>
{% else %}
  <p>Looks like you don't have any vehicles!</p>
{% endif %}
