<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<style>
.container {margin: 3%;}
h1{color: #005b96;}
.alert {max-width: 80%;}
</style>
</head>
<body>
  <div class="container" id="vehicle_shit">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'charger:index' %}">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charger:savings' %}">Savings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charger:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    <br>

    <h1>Vehicles</h1>
    <p>Update the form to schedule smart-charging for your vehicle.</p>

    {% if v %}
      <div class="alert alert-light" role="alert">
        <table class="table">
            <tr>
              <th scope="col"> Vehicle Name </th>
              <th scope="col"> Plugin Time </th>
              <th scope="col"> Unplug Time </th>
              <th scope="col"> Set to Charge </th>
            </tr>
            <form action="{% url 'charger:index' %}" method="post">
            {% csrf_token %}
              {% for id, vehicle in v.items %}
            <tr>
              <td scope="col"> {{ vehicle.display_name }}</td>
              <td> <input type="time" name="{{ vehicle.id }}_plug" id="{{ vehicle.id }}" value="{{ vehicle.plug_time }}"> </td>
              <td>  <input type="time" name="{{ vehicle.id }}_unplug" id="{{ vehicle.id }}" value="{{ vehicle.unplug_time }}"> </td>
              <td>  <input type="checkbox" name="{{ vehicle.id }}_check" id="{{ vehicle.id }}" 
              {% if vehicle.checked %} 
                checked="checked"
              {% endif %}/> </td>
            </tr>
            {% endfor %}
          </table>
          <button type="submit" class="btn btn-warning" value="Update">Update</button>
          </form>


        <!-- <form action="{% url 'charger:index' %}" method="post">
        {% csrf_token %}
          {% for vehicle in vehicle_list %}
            {{ vehicle.display_name }}
            <input type="time" name="{{ vehicle.id }}" id="{{ vehicle.id }}_plug" value="{{ vehicle.str_time }}">
            <input type="time" name="{{ vehicle.id }}" id="{{ vehicle.id }}_unplug" value="{{ vehicle.str_unplug_time }}">
            <input type="checkbox" name="{{ vehicle.id }}" id="{{ vehicle.id }}" 
              {% if vehicle.id in vehicle_scheduled %} 
                checked="checked"
              {% endif %}/>
            <br>
          {% endfor %}
          <br>
            <button type="submit" class="btn btn-warning" value="Update">Update</button>
        </form> -->
<!--         <form action="{% url 'charger:savings' %}" method="post">
        {% csrf_token %}
        {% for vehicle in vehicle_scheduled %}
          <input type="time" name="{{ vehicle.vehicle_id }}" id="{{ vehicle.vehicle_id }}" value="{{ vehicle.str_time }}"> {{ vehicle.name }} <br>
        {% endfor %}
        <input type="submit" value="Update"/>
      </form> -->
      </div>
    {% else %}
      <p>Looks like you don't have any vehicles!</p>
    {% endif %}
  </div>
</body>
