<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.container {margin: 10%;}
h1{color: #005b96;}
p{color: #005b96;}

</style>
</head>
<body>
	<div class="container" id="login_shit">
		<h1>Vol</h1>

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<p>Please login using your Tesla account credentials:</p>

		<form action="{% url 'charger:login' %}" method="post">
		{% csrf_token %}
		    <input type="text" placeholder="username" name="username" id="username"/>
		    <input type="password" placeholder="password" name="password" id="password"/>
		    <button type="submit" class="btn btn-warning">Submit</button>
		</form>
	</div>
</body>