<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<style>
.container {margin: 3%;}
h1{color: #005b96;}
.header .active a,
.header .active a:hover {
    background-color: #005b96;
}

</style>
</head>

<body>

  <div class="container" id="savings_shit">
    <div class="row">
      <ul class="nav nav-tabs header">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charger:index' %}">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'charger:savings' %}">Savings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'charger:logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    <br>

    <h1>Your savings</h1>

    <p>The following is a list of days that one or more of your vehicles was scheduled to charge for. For that day, 
    you can see what time periods the vehicle was charged for and what the total charging time and cost was.</p>
    <p>To obtain accurate savings data, please input the approximate time you come home from work and plug
    in your Tesla that you have scheduled for charging each day. This information will be used to determine when to 
    start checking whether the Tesla has been plugged in.</p>

    <ul>
        <div style="width:50%; height:50%">
        <canvas id="SavingsChart" style="width:50%; height:50%"></canvas>
        </div>
        <script>
          //var ctx = $("#SavingsChart");
          var config = {
            type: 'line',
            data: {
              labels: [{% for charge_attempt in charge_attempts %} moment(new Date(20{{ charge_attempt.year }}, {{ charge_attempt.month }}, {{ charge_attempt.day }})).subtract('month', 1).toDate(), {% endfor %}],
              datasets: [{
                label: 'Savings',
                data: [{% for charge_attempt in charge_attempts %} {{ charge_attempt.savings|floatformat:2 }}, {% endfor %}],
                borderColor: [
                    'rgba(252,193,43,1)'
                    ],
                backgroundColor: [
                    'rgba(252,193,43,1)'
                    ]
              }],
            },
            options: {
              scales: {
                  yAxes: [{
                    ticks : {
                      callback: function(value, index, values) {
                          return  value + '¢';
                      }
                    }
                  }],
                  xAxes: [{
                      type: 'time',
                      time: {
                        unit : 'day',
                        displayFormats: {
                          day : 'MM/DD/YY'
                        }
                      },
                      ticks: {
                        source: 'auto'
                      },
                      distribution: 'linear',
                      scaleLabel: {
                        display: true,
                        labelString: 'Date'
                      }
                  }]
              }
            }
          };

          window.onload = function() {
            var ctx = document.getElementById('SavingsChart').getContext('2d');

            window.myLine = new Chart(ctx, config);

          };
        </script>
        <br>
        <p style="font-weight: bold">Your total savings has been ${{ total_savings|floatformat:2 }}!</p>

        {% for charge_attempt in charge_attempts %}

        <li id="li{{ charge_attempt.num }}">Charge scheduled for {{ charge_attempt.vehicle_name }} plugged in at {{ charge_attempt.default_start_str }} <br>
          Charge time required: {{ charge_attempt.duration_str }} <br>
          Charge amount required: {{ charge_attempt.default_kwh|floatformat:2 }} kWh <br>
          Default charge cost: {{ charge_attempt.default_cost|floatformat:2 }}¢ @ {{ charge_attempt.default_price }}¢/kWh <br>
          Savings from this scheduled charge: {{ charge_attempt.savings|floatformat:2 }}¢ <br><br>
         
          <table class="table">
            <tr>
              <th scope="col"> Charge Period </th>
              <th scope="col"> Amount Charged </th>
              <th scope="col"> Cost </th>
              <th scope="col"> Savings </th>
            </tr>
            {% for charge_period in charge_attempt.periods %}
            <tr>
              <td scope="col"> {{ charge_period.start_str }} to {{ charge_period.end_str }}</td>
              <td> {{ charge_period.kwh|floatformat:2 }} kWh </td>
              <td> {{ charge_period.cost|floatformat:2 }}¢ </td>
              <td> {{ charge_period.saving|floatformat:2 }}¢ </td>
            </tr>
            {% endfor %}

          </table>

          <div id="div{{ charge_attempt.num }}" style="width:35%; height:35%">
            <canvas id="canvasnum{{ charge_attempt.num }}" style="width:35%; height:35%;"></canvas>
          </div>

          <script>

          /*

                  backgroundColor: [
                      'rgba(252,193,43,1)'
                      ]*/
            var config1 = {
              type: 'line',
              data: {
                labels: [{% for charge_period in charge_attempt.periods %} moment(new Date(20{{ charge_period.beg_year }}, {{ charge_period.beg_month }}, {{ charge_period.beg_day }}, {{ charge_period.beg_hour }}, {{ charge_period.beg_min }})).subtract('month', 1).toDate(), moment(new Date(20{{ charge_period.end_year }}, {{ charge_period.end_month }}, {{ charge_period.end_day }}, {{ charge_period.end_hour }}, {{ charge_period.end_min }})).subtract('month', 1).toDate(), moment(new Date(20{{ charge_period.end_year }}, {{ charge_period.end_month }}, {{ charge_period.end_day }}, {{ charge_period.end_hour }}, {{ charge_period.end_min }})).subtract('month', 1).toDate(), {% endfor %} ],
                datasets: [{
                  label: 'Charge Period',
                  data: [{% for charge_period in charge_attempt.periods %} {{ charge_period.kwh|floatformat:2 }}, {{ charge_period.kwh|floatformat:2 }}, null, {% endfor %}],   
                  borderColor: [
                      'rgba(252,193,43,1)'
                      ],
                  fill: false
                }]
              },
              options: {
                scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: 'Kilowatt-Hour'
                      }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                          unit : 'hour',
                          displayFormats: {
                            day : 'hh:mm'
                          }
                        },
                        ticks: {
                          source: 'auto'
                        },
                        distribution: 'linear',
                        scaleLabel: {
                          display: true,
                          labelString: 'Time'
                        }
                    }]
                }
              }
            };
            var ctx1 = document.getElementById('canvasnum{{ charge_attempt.num }}').getContext('2d');

            window.myLine = new Chart(ctx1, config1);

          </script>
         <!--  <ul>
            {% for charge_period in charge_attempt.periods %}
              <li>{{ charge_period.start_str }} to {{ charge_period.end_str }} @ {{ charge_period.price|floatformat:2 }}¢/kWh <br>
                Charge period amount: {{ charge_period.kwh|floatformat:2 }} kWh<br>
                Charge period cost: {{ charge_period.cost|floatformat:2 }}¢ <br>
                Charge period savings: {{ charge_period.saving }}¢
              </li>
            {% endfor %}
          </ul> -->
          
        </li>
      {% endfor %}
    </ul>

  </div>
</body>